<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megain.junhao.dao.Device_record_hisMapper">
  <resultMap id="BaseResultMap" type="com.megain.junhao.pojo.Device_record_his">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dev_id" jdbcType="BIGINT" property="devId" />
    <result column="video" jdbcType="INTEGER" property="video" />
    <result column="light" jdbcType="INTEGER" property="light" />
    <result column="rain" jdbcType="INTEGER" property="rain" />
    <result column="air_temp" jdbcType="INTEGER" property="airTemp" />
    <result column="air_humi" jdbcType="INTEGER" property="airHumi" />
    <result column="soil_temp" jdbcType="INTEGER" property="soilTemp" />
    <result column="soil_humi" jdbcType="INTEGER" property="soilHumi" />
    <result column="soil_electric" jdbcType="INTEGER" property="soilElectric" />
    <result column="soil_salt" jdbcType="INTEGER" property="soilSalt" />
    <result column="longtitude" jdbcType="INTEGER" property="longtitude" />
    <result column="latitude" jdbcType="INTEGER" property="latitude" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dev_id, video, light, rain, air_temp, air_humi, soil_temp, soil_humi, soil_electric, 
    soil_salt, longtitude, latitude, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_record_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device_record_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.megain.junhao.pojo.Device_record_his">
    insert into device_record_his (id, dev_id, video, 
      light, rain, air_temp, 
      air_humi, soil_temp, soil_humi, 
      soil_electric, soil_salt, longtitude, 
      latitude, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{devId,jdbcType=BIGINT}, #{video,jdbcType=INTEGER}, 
      #{light,jdbcType=INTEGER}, #{rain,jdbcType=INTEGER}, #{airTemp,jdbcType=INTEGER}, 
      #{airHumi,jdbcType=INTEGER}, #{soilTemp,jdbcType=INTEGER}, #{soilHumi,jdbcType=INTEGER}, 
      #{soilElectric,jdbcType=INTEGER}, #{soilSalt,jdbcType=INTEGER}, #{longtitude,jdbcType=INTEGER}, 
      #{latitude,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.megain.junhao.pojo.Device_record_his">
    insert into device_record_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="devId != null">
        dev_id,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="light != null">
        light,
      </if>
      <if test="rain != null">
        rain,
      </if>
      <if test="airTemp != null">
        air_temp,
      </if>
      <if test="airHumi != null">
        air_humi,
      </if>
      <if test="soilTemp != null">
        soil_temp,
      </if>
      <if test="soilHumi != null">
        soil_humi,
      </if>
      <if test="soilElectric != null">
        soil_electric,
      </if>
      <if test="soilSalt != null">
        soil_salt,
      </if>
      <if test="longtitude != null">
        longtitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devId != null">
        #{devId,jdbcType=BIGINT},
      </if>
      <if test="video != null">
        #{video,jdbcType=INTEGER},
      </if>
      <if test="light != null">
        #{light,jdbcType=INTEGER},
      </if>
      <if test="rain != null">
        #{rain,jdbcType=INTEGER},
      </if>
      <if test="airTemp != null">
        #{airTemp,jdbcType=INTEGER},
      </if>
      <if test="airHumi != null">
        #{airHumi,jdbcType=INTEGER},
      </if>
      <if test="soilTemp != null">
        #{soilTemp,jdbcType=INTEGER},
      </if>
      <if test="soilHumi != null">
        #{soilHumi,jdbcType=INTEGER},
      </if>
      <if test="soilElectric != null">
        #{soilElectric,jdbcType=INTEGER},
      </if>
      <if test="soilSalt != null">
        #{soilSalt,jdbcType=INTEGER},
      </if>
      <if test="longtitude != null">
        #{longtitude,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.megain.junhao.pojo.Device_record_his">
    update device_record_his
    <set>
      <if test="devId != null">
        dev_id = #{devId,jdbcType=BIGINT},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=INTEGER},
      </if>
      <if test="light != null">
        light = #{light,jdbcType=INTEGER},
      </if>
      <if test="rain != null">
        rain = #{rain,jdbcType=INTEGER},
      </if>
      <if test="airTemp != null">
        air_temp = #{airTemp,jdbcType=INTEGER},
      </if>
      <if test="airHumi != null">
        air_humi = #{airHumi,jdbcType=INTEGER},
      </if>
      <if test="soilTemp != null">
        soil_temp = #{soilTemp,jdbcType=INTEGER},
      </if>
      <if test="soilHumi != null">
        soil_humi = #{soilHumi,jdbcType=INTEGER},
      </if>
      <if test="soilElectric != null">
        soil_electric = #{soilElectric,jdbcType=INTEGER},
      </if>
      <if test="soilSalt != null">
        soil_salt = #{soilSalt,jdbcType=INTEGER},
      </if>
      <if test="longtitude != null">
        longtitude = #{longtitude,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.megain.junhao.pojo.Device_record_his">
    update device_record_his
    set dev_id = #{devId,jdbcType=BIGINT},
      video = #{video,jdbcType=INTEGER},
      light = #{light,jdbcType=INTEGER},
      rain = #{rain,jdbcType=INTEGER},
      air_temp = #{airTemp,jdbcType=INTEGER},
      air_humi = #{airHumi,jdbcType=INTEGER},
      soil_temp = #{soilTemp,jdbcType=INTEGER},
      soil_humi = #{soilHumi,jdbcType=INTEGER},
      soil_electric = #{soilElectric,jdbcType=INTEGER},
      soil_salt = #{soilSalt,jdbcType=INTEGER},
      longtitude = #{longtitude,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>